.beranda-container {
    padding-left: 250px; /* cuma padding kiri */
    padding-top: 20px;     /* atas 0 */
    padding-right: 20px;   /* kanan 0 */
    padding-bottom: 20px;  /* bawah 0 */
}

.search-bar input {
    border-radius: 25px;
    padding-left: 20px;
}

.konten{
    display: block;
    flex-direction: column;
    width: 100%;
}

.info-box {
    background-color: #3228A6;
    color: white;
    border-radius: 15px;
    display: inline-block;
    height: 100px;
}

.labels button {
    margin-right: 10px;
    border-radius: 15px;
    padding: 3px 12px;
}

.table thead th {
    font-weight: bold;
}

.preview-card {
    background-color: #f9f9f9;
    border-radius: 10px;
}
